<nav class="p-10">
<div class="flex justify-between max-w-screen-lg m-auto">
    <a href="/">
    <img src="/logo.png" alt="Poolable Logo" class="h-10 w-auto object-contain"></a>
    <a 
    href="https://t.me/nickisbuilding" 
    target="_blank"
    class="font-retro text-xl tracking-wide cursor-pointer
           hover:scale-110 hover:text-primary transition-transform duration-300 ease-out"
  >
    Contact Us
  </a>
</div>
</nav>